<section class="card text-bg-dark mb-3 mx-auto align-middle" 
         style="max-width: 48rem;">

    {{!TITLE & USER}}
    <div class="card-header">
        <h3>{{title}}</h3>
        <p class="card-subtitle mb-2 text-muted">
            {{#if user}}
            Posted by
            {{user.username}}
            on
            {{/if}}
            <time>
                {{showdate createdAt}}
            </time>
        </p>
    </div>

    {{!CONTENT}}
    <div class="card-body text-bg-light">
        <h5 class="card-text fw-light">{{content}}</h5>
    </div>
    
</section>