<body>
    <header>
        <h1>Your Dashboard</h1>
    </header>

    <div>
        {{#each posts as |post|}}
        {{> post-details}}
        <button class="updatePost">Update</button>
        <button class="deletePost">Delete</button>
        {{/each}}
    </div>

    <div>
        <button id="newPost">Add New Post</button>
    </div>

</body>

<script src="./js/createPost.js"></script>
<script src="./js/updatePost.js"></script>

    
   