<div>
    <div>
        <h1 class="text-center fw-bold">Your Dashboard</h1>
    </div>

    <div class="container overflow-hidden text-center" >
        <div class="row gy-5">
            <div class="col" >
                <a id="newPost" class="btn btn-primary btn-lg" href="/post">+ Add A New Post</a>
            </div>
        </div>
    </div>

    <br>
    <br>
    <br>

    <div class="container overflow-hidden text-center" >
        <div class="row gy-5">
            <div class="col" >
                {{#each posts as |post|}}
                {{> post-details}}
                <a href="/post/{{post.id}}" class="updatePost btn btn-warning">Update</a>
                {{/each}} 
            </div>
        </div>
    </div>  

</div>

<script src="/js/updatePost.js"></script>

    
   