<div>
    <div>
        <h1>Your Dashboard</h1>
    </div>

    <div>
        {{#each posts as |post|}}
        {{> post-details}}
        <a href="/post/{{post.id}}/edit" class="updatePost btn btn-secondary">Update</a>
        <button class="deletePost btn btn-danger">Delete</button>
        {{/each}}
    </div>

    <div>
        <a id="newPost" class="btn btn-warning" href="/post">Add New Post</a>
    </div>

</div>

<script src="/js/updatePost.js"></script>

    
   