<div id="login-card">
    <h2 class="page-title">Login</h2>
    <form>
        <div class="mb-3">
            <label for="username">Username:</label>
            <input type="text" class="form-input" id="username-login"/>   
        </div>
        <div class="mb-3">
            <label for="password">Password:</label>
            <input type="password" class="form-input" id="password-login"/>
        </div>
        <div>
            <button><type="submit" class="bg-[#1da1f2] text-white">login</button>
        </div>
    </form>
</div>

<div id="signup-card">
    <h2 class="page-title">Signup</h2>
    <form>
        <div class="mb-3">
            <label for="username">Username:</label>
            <input type="text" class="form-input" id="username-signup"/>
        </div>
        <div class="mb-3">
            <label for="password">Password:</label>
            <input type="password" class="form-input" id="password-signup"/>
        </div>
        <div>
            <button><type="submit" class="btn btn-primary">Signup</button>
        </div>
    </form>
</div>

<script src="./js/login.js"></script>