<div class="card mb-3 mx-auto align-middle" 
     style="max-width: 48rem;">

    <h2 class="page-title text-center fw-bold text-bg-dark">Login</h2>
    <form id="login-card">
        <div class="mb-3 card-header">
            <label for="exampleInputEmail1" class="form-label fw-bold fs-4">Username:</label>
            <input type="text" class="form-control" id="username-login"/>   
        </div>
        <div class="mb-3 card-header">
            <label for="exampleInputPassword1" class="form-label fw-bold fs-4">Password:</label>
            <input type="password" class="form-control" id="password-login"/>
        </div>
        <div>
            <button><type="submit" class="btn btn-warning">login</button>
        </div>
    </form>
</div>

<br>
<br>
<br>

<div class="card mb-3 mx-auto align-middle" 
     style="max-width: 48rem;">
     
    <h2 class="page-title text-center fw-bold text-bg-dark">Signup</h2>
    <form id="signup-card">
        <div class="mb-3 card-header">
            <label for="exampleInputEmail1" class="form-label fw-bold fs-4">Username:</label>
            <input type="text" class="form-control" id="username-signup"/>
        </div>
        <div class="mb-3 card-header">
            <label for="exampleInputPassword1" class="form-label fw-bold fs-4">Password:</label>
            <input type="password" class="form-control" id="password-signup"/>
        </div>
        <div>
            <button><type="submit" class="btn btn-warning">Signup</button>
        </div>
    </form>
</div>

<script src="./js/login.js"></script>