<div>
    <div>
        <h1>Post</h1>
    </div>

    <div>
        {{> post-details}}
        <a href="/post/{{id}}/edit" class="updatePost btn btn-warning">Update</a>
        <button class="deletePost">Delete</button>
    </div>

    
</div>

<script src="./js/updatePost.js"></script>
