<div id="updatepost-card"
     class="card mb-3 mx-auto align-middle" 
     style="max-width: 48rem;">

    <h1 class="text-center fw-bold text-bg-dark">
        Update Post
    </h1>
    
    <form id="updatePost" class="card-header">
        <div>
            <input id="e-post-id" style="width:0" 
              value="{{id}}"/> 
        </div>
         
        <div class="mb-3 card-header">
            <label for="title" class="fw-bold fs-4">Title:</label>
            <input type="text" class="form-input" id="e-post-title"
              style="width:400px"
              value="{{title}}"/>   
        </div>
        <div class="mb-3 card-body">
            <textarea type="text" class="form-input" id="e-post-content"
              cols="92.5" rows="10">
              {{content}}
            </textarea>
        </div>
        <div>
            <button><type="submit" class="btn btn-warning" href="/dashboard">
                Save 
            </button>         
        </div>
    </form>
</div>

<script src="/js/updatePost.js"></script>
